
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
/* nav-bar */
.container {
  width: 100%;
}
.header {
  background-color: #0f172b;
  width: 100%;
  height: 120px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
}
.text {
  width: 20%;
  color: orange;
  padding: 40px;
}
.nav {
  width: 80%;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav i {
  color: orange;
  margin-left: 39px;
  font-size: x-large;
}
.nav p {
  margin-left: 15px;
  letter-spacing: 1px;
}
.nav-logos {
  margin-left: 25rem;
}
.nav-logos i:hover {
  color: lightslategray;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links ul :hover {
  color: orange;
}
.nav-links .drop-main {
  position: relative;
  left: 17.5%;
  bottom: 2.5rem;
  list-style: none;
  display: flex;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
}

.links .btn button {
  width: 15rem;
  height: 69px;
  position: relative;
  bottom: 4.2rem;
  background-color: orange;
  color: white;
  border: none;
}
.btn button i {
  font-size: large;
  padding-left: 10px;
  text-align: center;
}

ul li ul.drop-down {
  text-align: center;
  background-color: #0f172b;
  width: 200px;
  height: 7rem;
  margin-top: 24px;
  list-style: none;
  display: none;
  position: absolute;
  flex-direction: column;
}
ul li ul.drop-down li {
  text-align: center;
  margin-top: 20px;
  padding-right: 50px;
}
ul li:hover ul.drop-down {
  display: block;
}
/* nav-bar-end */

/* main-section */

.main-img {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./carousel-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-img h3 {
  text-align: center;
  color: white;
  position: relative;
  top: 35%;
}
.main-img h1 {
  text-align: center;
  color: white;
  position: relative;
  top: 37%;
  letter-spacing: 2px;
  font-size: 60px;
}
.main-img button {
  width: 180px;
  height: 55px;
  position: relative;
  top: 315px;
  left: 37.5%;
  margin-left: 20px;
  border: none;
  font-size: medium;
}
.main-img .btn-1 {
  background-color: orange;
  color: white;
}
.main-img button:hover {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
.check-in {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 90%;
  height: 90px;
  position: absolute;
  left: 5%;
  top: 110%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-in .inputs input {
  height: 40px;
  width: 260px;
  outline: none;

  padding: 10px;
}
.check-in .inputs select {
  height: 40px;
  width: 260px;
  padding: 10px;
  outline: none;
}
.check-in .btn-2 button {
  width: 260px;
  height: 40.5px;
  border: none;
  background-color: orange;
  color: white;
}
.btn-2 button:hover {
  background-color: lightslategrey;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
/* main-section end */
.about {
  margin: 10rem auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.text-1 h1 {
  color: orange;
}
.about h1,
h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.about h2 {
  font-size: 55px;
}
.about .text-2 {
  color: orange;
}
.about p {
  letter-spacing: 2px;
  font-size: large;
}
.box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  border: 5px double black;
  width: 25%;
  text-align: center;
  padding: 20px;
}
.boxes i {
  font-size: xxx-large;
  color: orange;
}
.boxes h1 {
  padding-top: 20px;
  color: black;
}
.btn-3 button {
  width: 12rem;
  margin-top: 35px;
  height: 50px;
  background-color: orange;
  border: none;
  color: white;
}
.btn-3 button:hover {
  background-color: lightslategray;
  color: white;
  transition: 0.4s all;
  cursor: pointer;
}
.img-1,
.img-2 {
  margin-right: 10px;
}
.imgs {
  margin-left: 100px;
}
.img-2 {
  margin-bottom: 120px;
}
.img-3 {
  margin-top: 10px;
}
/* rooms */
.rooms {
  width: 90%;
  margin: auto;
}
.text-3 h2 {
  color: orange;
  text-align: center;
}
.text-3 h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1px;
}
.text-3 .text-4 {
  color: orange;
}
.room-box {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
}
.room {
  width: 32.3%;
  height: 81vh;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.room-text {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.room-text .rating {
  color: orange;
}
.text-5 p {
  background-color: orange;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  position: relative;
  bottom: 1.3rem;
  left: 1rem;
}
.ser {
  padding: 20px;
  display: flex;
}
.ser i {
  padding-left: 10px;
  color: orange;
}
.ser p {
  padding-left: 10px;
}
.ser hr {
  margin-left: 10px;
}
.text-6 {
  padding: 20px;
  letter-spacing: 1px;
}
.booking-btns {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.booking-btns button {
  width: 10rem;
  height: 40px;
}
.btn-4 button {
  background-color: orange;
  color: white;
  border: none;
}
.btn-4 button:hover {
  background-color: lightslategray;
  color: white;
  transition: 0.4s all;
  cursor: pointer;
}

.btn-5 button {
  background-color: black;
  color: white;
  border: none;
}
.btn-5 button:hover {
  background-color: lightslategray;
  color: white;
  transition: 0.4s all;
  cursor: pointer;
}
/* rooms-section end */

/* luxury-section */
.vid {
  width: 100%;
  display: flex;
  margin: 7rem auto;
}

.text-7 {
  background-color: #0f172b;
  width: 50.6rem;
  height: 60.3vh;
  color: white;
  padding: 50px;
}

.text-7 h2 {
  margin-top: 3rem;
  letter-spacing: 2px;
}
.text-7 h1 {
  font-size: 50px;
  letter-spacing: 4px;
}
.text-7 p {
  margin-top: 1.5rem;
  line-height: 25px;
  letter-spacing: 1px;
}
.bt {
  margin-top: 1.5rem;
  background-color: orange;
  width: 180px;
  height: 50px;
  color: white;
}
.bt:hover {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
.btn-6 {
  margin-top: 1.5rem;
  background-color: white;
  width: 180px;
  height: 50px;
  margin-left: 10px;
}
.btn-6:hover {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
.video {
  width: 100%;
}
.vids img {
  width: 100%;
  height: 60.3vh;
}
/* luxury-section end */

/* services-section */
.services {
  width: 90%;
  margin: 7rem auto;
}
.sv {
  display: flex;
  justify-content: space-between;
}

.text-8 h2 {
  text-align: center;
  color: orange;
}
.text-8 h1 {
  text-align: center;
  font-size: 50px;
}

.text-9 {
  color: orange;
}
.service-box {
  margin-top: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 27rem;
  /* height: 2rem; */
  text-align: center;
  padding: 50px;
}
.service-box p {
  padding-top: 2rem;
}
.service-box i {
  font-size: 50px;
  padding: 20px;
  color: orange;
  border: 6px double black;
}
.service-box h1 {
  padding-top: 3rem;
}
.st {
  display: flex;
  justify-content: space-between;
}
.service-box:hover {
  background-color: lightslategray;
  color: white;
  transition: 0.4s all;
  cursor: pointer;
}
/* services-section end */

/* clients-section */
.clients {
  width: 90%;
  margin: 7rem auto;
}
.back {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/carousel-2.jpg);
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tr {
  display: flex;
}
.rew {
  background-color: white;
  width: 45%;
  margin: 5.7% auto;
  padding: 30px;
}
.rew p {
  line-height: 25px;
}
.ims {
  display: flex;
  margin-top: 30px;
}
.ims h3 {
  padding-top: 15px;
  padding-left: 10px;
}
/* clients-section end */

/* team-sectiom */
.team {
  width: 90%;
  margin: 7rem auto;
}
.text-10 h2 {
  text-align: center;
  color: orange;
}
.text-10 h1 {
  text-align: center;
  font-size: 50px;
}
.text-11 {
  color: orange;
}
.team-box-1 {
  margin-top: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 24%;
}
.texts {
  text-align: center;
  padding: 30px;
}
.bx {
  display: flex;
  justify-content: space-between;
}
.texts p {
  padding-top: 10px;
}
.icons i {
  background-color: orange;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 15px;
  font-size: larger;
  position: relative;
  bottom: 30px;
  left: 98px;
}
/* team-section end */

/* team-section end */
.footer {
  width: 90%;
  margin: auto;
}
.sub {
  width: 90%;
  margin: 7rem auto;
}

.subs {
  background-color: white;
  width: 80%;
  border: 8px double #dee2e6;
  text-align: center;
  padding: 80px;
  position: absolute;
  left: 142px;
  top: 355rem;
}
.text-13 {
  color: orange;
}
.ttt h1 {
  color: black;
}
.bb {
  border: 1px solid #dee2e6;
  width: 50%;
  margin-top: 20px;
  margin-left: 230px;
  position: relative;
}
.ttt input {
  width: 28rem;
  height: 60px;

  padding: 20px;
  border: none;
  outline: none;
}
.bn button {
  width: 6.5rem;
  /* /* margin-right: 50px; */
  height: 40px;
  position: relative;
  bottom: 51.5px;
  left: 170px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.footer-main {
  background-color: #0f172b;
  width: 100%;
  /* height: 101vh; */
  margin-top: 20rem;
  padding-top: 50px;
}
.hot {
  background-color: orange;
  width: 25%;
  color: white;
  padding: 30px;
}
.hot h1 {
  letter-spacing: 2px;
  font-size: 40px;
}
.hot p {
  line-height: 25px;
  padding-top: 20px;
}
.footer-flex {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.footer-contact h1 {
  color: orange;
}

.ln i {
  color: white;
  font: 20px;
}
.ln a {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.footer-logo i {
  font-size: 20px;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
}
.footer-logo i:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
  transition: 0.4s all;
}
.footer-link .ln {
  margin-top: 20px;
}

.com h1 {
  color: orange;
}
.com .lns {
  margin-top: 20px;
}
.lns i {
  color: white;
  font-size: 15px;
}
.lns a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.sss {
  color: orange;
}
.sss .lns {
  margin-top: 20px;
}
.footer-main hr {
  width: 90%;
  margin-left: 70px;
}
.footer-main h3 {
  color: white;
  text-align: center;

  padding: 30px;
}
/* footer section */
/* about */
.main-img-1 {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./carousel-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-img-1 h1 {
  text-align: center;
  color: white;
  position: relative;
  top: 37%;
  letter-spacing: 2px;
  font-size: 60px;
}
.check-in-1 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 90%;
  height: 90px;
  position: relative;
  left: 5%;
  bottom: 45px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-in-1 .inputs input {
  height: 40px;
  width: 260px;
  outline: none;

  padding: 10px;
}
.check-in-1 .inputs select {
  height: 40px;
  width: 260px;
  padding: 10px;
  outline: none;
}
.check-in-1 .btn-2 button {
  width: 260px;
  height: 40.5px;
  border: none;
  background-color: orange;
  color: white;
}
.btn-2 button:hover {
  background-color: lightslategrey;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
/* contact */
.contact {
  width: 90%;
  margin: 7rem auto;
}
.contact .ff h3 {
  color: orange;
  text-align: center;
}
.contact .ff h1 {
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}
.contact .ff span {
  color: orange;
}
.form {
  margin-top: 70px;
  display: flex;
}
.form i {
  color: orange;
  font-size: 20px;
}
.map {
  width: 90%;
  margin: 7rem auto;
  display: flex;
}
.map .frame {
  width: 90%;
}
.inp {
  width: 90%;
  margin-left: 20px;
}
.inpus input {
  width: 48.9%;
  height: 40px;
  padding-left: 20px;
  outline: none;
}
.inpus .nn {
  margin-left: 9px;
}
.hh {
  height: 40px;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  outline: none;
}
.jj {
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  outline: none;
}
.btn-7 button {
  width: 100%;
  margin-top: 15px;
  height: 70px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}
